.skill_bar_container {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 50%;
    margin: 3vh auto;
    padding: 1.5%;
}

.skill_bar_column {
    flex: 1;
    color: whitesmoke;
    text-align: left;
}  

.skill_bar {
    padding: 1.5%;
}

.skill_bar_background {
    display: block;
    background-color: rgba(255,255,255,1);
    margin: 0.5vh auto;
    padding-top: 2%;
    width: 100%;
    position: relative;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}  

.skill_bar_progress {
    position: absolute;
    background-color: rgba(0,0,0,1);
    padding-top: 2%;
    top: 0px;
    left: 0px;
}

.award_panel {
    display: flex;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 3vh auto;
}

.award_picture_frame {
    width: 50%;
    margin: 0;
}

.award_picture_frame img {
    width: 100%;
    height: 100%;
}

.award_body_text {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    text-align: left;
    color: whitesmoke;
}

.award_showcase {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0;
}

.award_showcase_container {
    width: 400%;
    height: 100%;
    position: relative;
    animation: 10s award_animation infinite;
    margin: 0;
    left: 0;
    text-align: 0;
    font-size: 0;
    overflow: hidden;
}

.award_showcase_container img, video {
    float: left;
    width: 25%;
}

@keyframes award_animation {
    0% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; }
    55% { left: -100%; }
    60% { left: -200%; }
    85% { left: -200%; }
    90% { left: -300%; }
    100% { left: -300%; }
}
