/* @media (max-width: 1000px) {
  .App {
    text-align: center;
    background-image: radial-gradient(white, rgb(100, 100, 100));
    color: black;
    font-size: 8px;
    font
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .App {
    text-align: center;
    background-image: radial-gradient(white, rgb(100, 100, 100));
    color: black;
    font-size: 12px;
  }
}

@media (min-width: 1501px) and (max-width: 1800px) {
  .App {
    text-align: center;
    background-image: radial-gradient(white, rgb(100, 100, 100));
    color: black;
    font-size: 14px;
  }
}

@media (min-width: 1801px) {
  .App {
    text-align: center;
    background-image: radial-gradient(white, rgb(100, 100, 100));
    color: black;
    font-size: 16px;
  }
} */


@font-face {
  font-family: 'JosefinSans';
  font-weight: 100;
  src: local('JosefinSans'), url("./fonts/JosefinSans/JosefinSans-ExtraLight.ttf") format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  font-weight: 200;
  src: local('JosefinSans'), url("./fonts/JosefinSans/JosefinSans-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'), url("./fonts/JosefinSans/JosefinSans-Regular.ttf") format('truetype');
}

/* .App {
  text-align: center;
  background-image: radial-gradient(white, rgb(100, 100, 100));
  color: black;
  font-size: 16px;
  font-family: JosefinSans;
  font-weight: lighter;
} */

/* html {
  scroll-behavior: smooth;
} */

.section {
  padding-top: 40px;
  margin-top: -40px;
}

.nav_bar a:hover {
  text-decoration: none;
  color: darkgray;
}

.nav_bar_selected {
  text-decoration: none;
  background-color: whitesmoke;
  color: black;
}

.nav_bar_unselected {
  color: white;
}




