.section_container {
    text-align: center;
    color: black;
    padding-top: 0.5vh;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

.section_endline {
    width: 100%;
    height: 5px;
    background-color: black;
}