body {
    margin: 0;
}

.showcase_container {
    width: 600px;
    height: 500px;
    overflow: hidden;

}
.showcase_sliding_region {
    width: 400%;
    height: 50%;
    position: relative;
    animation: 10s slide_animation infinite;
    margin: 0;
    left: 0;
    text-align: 0;
    font-size: 0;
}
.showcase_sliding_region img {
    float: left;
    width: 25%;
}
@keyframes slide_animation {
    0% { left: 0%; }
    15% {left: 0%; }
    30% { left: -100%; }
    45% { left: -100%; }
    60% { left: -200%; }
    75% { left: -200%; }
    90% {left: -300%; }
    100% { left: -300%; }
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 50%;
}

.test {
  position: relative;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: inline-table;
}

/* Hide the images by default */
.m_hide {
    display: none;
}

.m_show {
    display: block;
}
  
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  top: 40%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  cursor: pointer;
  top: 40%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
  overflow: hidden;
  height: 250px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}