.lightbox-window {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 11;
    background: white;
    display: flex;
    flex-direction: column;
}

.lightbox-header-shadow {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 72px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0)) */
}

.lightbox-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

#lightbox-image {
    max-width:80%;
    max-height:80%;
    /* max-height: 100%; */
    /* height: auto; */
    /* width: auto; */
    /* width: auto; */
    /* max-height: 100vh; */
}

.back-button {
    height: 50px;
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    /* margin: 0; */
    /* left: 0; */
    /* left: 10px; */
    top: 0px;
    left: 10px;
    cursor: pointer;
    filter: brightness(0);
}

.arrow-container {
    height: 30%;
    width: 30%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position:absolute;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* override for the right arrow only */
.arrow-container.right-arrow {
    justify-content: flex-end;
}

.left-arrow {
    left: 30px;
}

.right-arrow {
    right: 30px;
}

.arrow-container img {
    height: 72px;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 150ms ease-out;
    /* transition: opacity 500ms ease-out; */
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    transform: translateY(0%);
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transform: translateY(100%);
}